NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_replace_me
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://medusa:9000
NEXT_PUBLIC_DEMO_MODE=true
NEXT_PUBLIC_STRAPI_URL=http://cms-stub:1337
NEXT_PUBLIC_STRAPI_READ_TOKEN=
NEXT_PUBLIC_CDN_SPACE_DOMAIN=localhost
NEXT_PUBLIC_SPACE_DOMAIN=localhost
NEXT_PUBLIC_SPACE_ENDPOINT=localhost
STRAPI_WEBHOOK_REVALIDATION_SECRET=change-me
NEXT_PUBLIC_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_DEFAULT_REGION=gb
